[submodule "submods/PDFKit15f"]
	path = submods/PDFKit15f
	url = https://github.com/Synergex-CodeExchange/PDFKit15f.git
[submodule "submods/Parser"]
	path = submods/Parser
	url = https://github.com/Synergex-CodeExchange/Parser.git
[submodule "submods/Message_Box"]
	path = submods/Message_Box
	url = https://github.com/Synergex-CodeExchange/Message_Box.git
[submodule "Test-_.Entry"]
	path = Test-_.Entry
	url = https://github.com/Synergex-CodeExchange/Test-_.Entry.git
[submodule "submods/Test-_.Entry"]
	path = submods/Test-_.Entry
	url = https://github.com/Synergex-CodeExchange/Test-_.Entry.git
