[submodule "submods/PDFKit15f"]
	path = submods/PDFKit15f
	url = https://github.com/Synergex-CodeExchange/PDFKit15f.git
[submodule "submods/Parser"]
	path = submods/Parser
	url = https://github.com/Synergex-CodeExchange/Parser.git
[submodule "submods/Message_Box"]
	path = submods/Message_Box
	url = https://github.com/Synergex-CodeExchange/Message_Box.git
[submodule "Test-_.Entry"]
	path = Test-_.Entry
	url = https://github.com/Synergex-CodeExchange/Test-_.Entry.git
[submodule "WpfDeviceLicense"]
	path = WpfDeviceLicense
	url = https://github.com/Synergex-CodeExchange/WpfDeviceLicense.git
[submodule "submods/WpfDeviceLicense"]
	path = submods/WpfDeviceLicense
	url = https://github.com/Synergex-CodeExchange/WpfDeviceLicense.git

[submodule "submods/Convert.ToBase64String"]
	path = submods/Convert.ToBase64String
	url = https://github.com/Synergex-CodeExchange/Convert.ToBase64String.git
[submodule "submods/ISAMutils"]
	path = submods/ISAMutils
	url = https://github.com/Synergex-CodeExchange/ISAMutils.git
[submodule "submods/DATE_PICKER"]
	path = submods/DATE_PICKER
	url = https://github.com/Synergex-CodeExchange/DATE_PICKER.git
[submodule "submods/Test_1"]
	path = submods/Test_1
	url = https://github.com/Synergex-CodeExchange/Test_1.git
